*{
    margin: 0;
    padding: 0;}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height:80px;
}

header{
    background-color: #f4a261;
    height: 80px;
    margin-bottom: 15px;
}

#box_dad {
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #e9c46a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    color: #000000;
}

button {
    display: inline-block;
    width: 200px;
    margin-left: 580px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 0;
    color: #fff;
    background-color: #2a9d8f;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #264653;
}
